//IF needed take out the path from angular-cli and customize bootstrap scss files
// @import
//   '~bootstrap/scss/functions',
//   '~bootstrap/scss/variables',
//   '~bootstrap/scss/mixins',
//   '~bootstrap/scss/print',
//   '~bootstrap/scss/reboot',
//   '~bootstrap/scss/type';

@import './sass/variables';
@import './sass/mixins';


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: white;
}

.page-container{
  margin-top: 50px;
  min-height: 300px;
}

.box {
  @include border-radius(10px);
  background-color: #CCC;
}
